<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.monitor.dao.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.monitor.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="name" property="name" />
        <result column="enable" property="enable" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="company_email" property="companyEmail" />
        <result column="phone" property="phone" />
        <result column="company" property="company" />
        <result column="del_flag" property="delFlag" />
        <result column="desc" property="desc" />
        <result column="login_status" property="loginStatus" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, name, enable, password, email, company_email AS companyEmail, phone, company, del_flag AS delFlag, desc, login_status AS loginStatus, create_time AS createTime
    </sql>

</mapper>
