package ${package}.${moduleName}.dao;

import org.apache.ibatis.annotations.Mapper;

import ${package}.${moduleName}.entity.${className}Entity;
import com.monitor.base.BaseDao;
/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}Entity> {
	
}
